<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="APIFramework" parallel="methods" thread-count="4">
    <listeners>
        <listener class-name="reporting.ExtentReporterNG"></listener>
    </listeners>
    <test name="SampleTest">
        <groups>
            <run>
                <include name="videoRating"></include>
            </run>
        </groups>
        <packages>
            <package name="ServiceTests"></package>
        </packages>
    </test>
</suite>
